@import '~theme/index';

.b-goal-table {
  width: 100%;
  display: flex;

  &__inner {
    flex-direction: column;
    display: flex;
    width: 100%;
  }

  &__head {
    height: 8 * $x;
    display: flex;
    width: 100%;
  }

  &__goal-row {
    min-height: 12 * $x;
    display: flex;
  }

  &__goal-actions {
    display: flex;
    width: $header-column-width;
  }


  &__day-titles {
    margin-left: 2 * $x;
    width: 100%;
    align-items: stretch;
    display: flex;
  }

  &__day-title {
    $height: 8 * $x;
    width: 14.286%; 
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: $height;
    line-height: $height;
  }

  &__goal-row {
    display: flex;
  }

  &__goal-title {
    width: $header-column-width; 
  }

  &__total {
    display: flex;
    height: 6 * $x;
    margin-left: 5 * $x;
  }

  &__per-day {
    width: 100%;
    display: flex;
  }

  &__goals-footer {
    width: $header-column-width;
  }

  &__total-item {
    $height: 8 * $x;
    width: 14.286%;
    line-height: $height;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: $height;
  }
}
