@import '../../variables';

.b-goal-title {
  display: flex;
  align-items: center;
  padding: $x; 
  color: lightcyan;

  &__title {
    width: 96px;
    overflow: hidden;
    text-overflow: ellipsis; 
  }

  &__type {
    margin-left: auto;
  }
}
