@import '~theme/index';

.b-header {
  display: flex;
  box-shadow: $header-box-shadow;
  align-items: baseline;
  background-color: $background-accent-color;
  margin-bottom: 4 * $x;

  &__user-actions {
    margin-left: auto;
    padding: 2 * $x;
  }
}
