@import '~theme/index';

.b-day {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2 * $x;
  flex-wrap: wrap;
  background-color: $background-accent-color;
  margin: $x;
  &__item {
    padding: 1px;
    color: $text-accent-color;
  }
}
